
:root{
    --clr-accent:#78380c;
    --clr-accent-dark:#562a0e;
    --clr-accent-light:#c8691c;
    --clr-shallow-shadow:#ddd;
    --clr-dark-shadow:#bbb;
    --box-shadow-1:#d09259;
    --box-shadow-2:#d6a679;
    --box-shadow-3:#e4ceaf;
    --clr-primary-dark:#1e1e1e;
    --clr-grey-text:#777;
    --bg-primary:#f7f7f7;
}

/* :root{
    --clr-accent:#7A44DF;
    --clr-accent-dark:#7138dd;
    --clr-accent-light:#9559e8;
    --clr-shallow-shadow:#ddd;
    --clr-dark-shadow:#bbb;
    --box-shadow-1:#d9c8f1;
    --box-shadow-2:#e2d6f3;
    --box-shadow-3:#ece6f5;
    --clr-primary-dark:#1e1e1e;
    --clr-grey-text:#777;
    --bg-primary:#f7f7f7;
} */
*{
    box-sizing: border-box;
}
body{
    background-color: var(--bg-primary);
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    scroll-behavior: smooth;
}
a{
    color: var(--clr-accent);
}
main{
    padding-bottom: 2em;
}
.small{
    font-size: .8rem;
    color: #777;
}
/* a:hover,a:focus{
    opacity: .7;
} */
:focus{
    outline: 2px solid var(--clr-accent);
}
/* Logo */
.logo{
    font-size: 2rem;
    position: absolute;
    left: .5em;
    top: 1em;
    color: var(--clr-accent);
}


/* Navigation menu */
.nav-toggle{
    min-height: 2em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 2em;
}
.nav-toggle:hover{
    background-color: var(--clr-shallow-shadow);
}
.hamburger{
    position: relative;
    display: inline-block;
    width: 2em;
    height: .2em;
    background-color: var(--clr-accent)
    /* border: 1px solid red; */
}
.hamburger::before{
    content: '';
    width: 2em;
    height: .2em;
    background-color:  var(--clr-accent);
    position: absolute;
    top: .45em;
    left: 0;
}
.hamburger::after{
    content: '';
    width: 2em;
    height: .2em;
    background-color:  var(--clr-accent);
    position: absolute;
    top: -.4em;
    left: 0;
}
/* 
============================
========================================Main Navigation drawer
============================
*/
.main-nav{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 180px;
    background-color: var(--clr-accent);
    color: white;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.visible-nav .main-nav{
    transform: translateX(0);
}

.main-nav header{
    background-color: var(--clr-accent-dark);
    font-size: 2.5rem;
    text-align: center;
    padding: .5em 1em ;
}
.nav-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    width: 80%;
    display: flex;
    justify-content: center;
}
.nav-link{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    padding: .4em 1em;
    margin-bottom: 1em;
    /* min-width: 150px; */
    
}
.nav-img{
    filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(192deg) brightness(116%) contrast(100%);
    width: 2em;
    grid-column: 1;
}
.nav-link-text{
    grid-column: 3;
}
.main-nav a{
    color: white;
    text-decoration: none;
    min-height: 3em;
    text-transform: uppercase;
    font-size: .9rem;
}
.main-nav .nav-item a:hover,
.main-nav .nav-item a:focus{
    background-color: var(--clr-accent-light);
    color: white;
}

.nav-link:hover,
.nav-link:focus{
    box-shadow: 1px 1px 8px rgba(30, 30, 30, .2);
}
.scroll-down-icon{
    display:none;
}
/* 
============================
=============================================Main Content Layout
============================
*/

.header{
    text-align: center;
}
.greetings{
    text-transform: uppercase;
    margin: 0;
}
.intro{
    margin: 0 2em 2em;
}
.highlight{
    color:  var(--clr-accent);
}


.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 12px 0 var(--box-shadow-1);
    display: inline-block;
    margin: 2em auto 3em;
}
.name{
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 2.5rem;
}
.role{
    font-size: 1.1em;
}
.intro{
    letter-spacing: .1em;
}
.btn{
    color: white;
    background-color: var(--clr-accent);
    padding: .8em 2em;
    display: inline-block;
    border-radius: 2em;
    text-decoration: none;
}
.btn:hover,.btn:focus{
    background-color: var(--clr-accent-dark)
}
.social-links-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links{
    margin-top: 1.5em;
}
.section{
    line-height: 1.4em;
    margin-top: 8em;
}
.social-link{
    margin: 0 .5em;
    transition: all 250ms;
}
.social-link:hover img{
    opacity: .8;    
}
.social-link img{
    width: 2.8em;
    background-color: white;
    padding: .5em;
    box-shadow: 0px 1px 2px var(--clr-shallow-shadow);
    border-radius: .2em;
}
.section--about p:first-of-type{
    margin-top: 0;
}
.section__title{
    display: inline-block;
    position: relative;
    }
.section__title::after{
    content: '';
    height: 3em;
    width: 1px;
    background-color: var(--clr-primary-dark);
    position: absolute;
    right: -1em;
    bottom: 0em;
}
.section__small-title{
    border-top: 1px solid var(--clr-primary-dark);
    padding-top: 2em;
    display: block;
    font-size: .6em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;
}
.skills{
    display: grid;
    grid: 1fr/repeat(auto-fill,minmax(5em,1fr));
    gap: 1rem;
}
.skill{
    margin:0 auto;
    background-color: white;
    border-radius: .5rem;
    width: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    box-shadow: 2px 2px 6px var(--clr-shallow-shadow);

}
.skill-img{
    width: 2em;
}
.skill-name{
    margin-bottom: 0;
    font-size: .8em;
}

.project{
    background-color: white;
    border: 1px solid var(--clr-dark-shadow);
    border-radius: 16px;
    padding: 1.5em;
}

.project-title{
font-weight: 600;
font-size: 1.5rem;
}

.project-img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.project-link:first-of-type{
    margin-right: 2em;
}
.project-link:hover{
    opacity: .7;
}
.outside-link-img{
    width: 1em;
    margin-left: .5em;
}

.section__subtitle{
    font-weight: 400;
    font-size: 1.4rem;
}
.contact-info{
    margin: 2em auto 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    box-shadow: 1px 1px 4px var(--clr-shallow-shadow);
    border-radius: .8em;
}
.img-container{
    width: 5em;
    height: 5em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(53, 202, 182, .08);
}
.mail-icon{
    width: 2em;
    filter: invert(59%) sepia(49%) saturate(526%) hue-rotate(126deg) brightness(102%) contrast(95%);
}

.phone-icon{
    width: 2.3em;
    filter: invert(26%) sepia(92%) saturate(1931%) hue-rotate(181deg) brightness(95%) contrast(102%);
}
.contact-link{
    color: var(--clr-primary-dark);
    font-size: 1.1rem;
}
.contact-text{
    color: var(--clr-grey-text);
}
.footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    display: flex;
    align-items: flex-end;
    min-height: 2.6rem;
    justify-content: space-between;
    min-width: 180px;
    margin-bottom: 2rem;
}
.heart{
    color: red;
    font-size: 1.5rem;
    transform: scale(1);
    animation: heartBeat .8s linear infinite normal;
}
.scroll-to-top{
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent);
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    position: fixed;
    right: 1em;
    bottom: 1em;
    box-shadow: 3px 3px 6px var(--clr-grey-text);
    opacity: .5;
    transition: all 250ms;
}
.scroll-to-top:hover{
    transform: translateY(2px);
    box-shadow: 2px 2px 3px var(--clr-grey-text);
    opacity: 1;
}
.scroll-to-top::after{
    content: 'Back to top';
    position: absolute;
    top: 1em;
    left:-7em;
    background-color: var(--bg-primary);    
    color: var(--clr-accent);
    z-index: 1;
    border: 1px solid var(--clr-accent);
    opacity: 0;
    display: none;    
}
.scroll-to-top:hover::after{
    opacity: 1;
    display: block;
}

.scroll-to-top:focus{
    outline: 1px solid white;
}
.scroll-to-top img{
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(148deg) brightness(106%) contrast(101%);
}

@media(min-width:500px){
    .social-links-wrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .social-links{
        margin-top: 0;
    }
    .intro{
        margin-bottom: 2.5em;
    }
    .header{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section.section--about{
        margin-top: 0;
    }
    .profile-img{        
        box-shadow: 12px 0 var(--box-shadow-1), 24px 0 var(--box-shadow-2), 36px 0 var(--box-shadow-3);
    }
}
@media(min-width:650px){
    .profile-img{
        width: 350px;
        height: 350px;
    }
}
@media(min-width:900px){
    .nav-toggle{
        visibility: hidden;
    }
    .main-nav{
        transform: translateX(0);
        width: 130px;
    }
    .scroll-down-icon{
        display: inline;
        position: absolute;
        bottom: 0;
        left: 25%;
        filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(148deg) brightness(106%) contrast(101%);
        height: 4em;
        animation: changePosition 2s linear infinite alternate;
    }
    main,.header{
        padding-left: calc(120px + 1em);
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }

    .header{
        display: flex;
        flex-direction: row;
    }
    .nav-link{
        grid-template-columns: 1fr;
    }
    .nav-link-text{
        display: none;
        visibility: hidden;
    }
    .main-nav{
        transition: all 250ms cubic-bezier(.5, 0, .5, 1);
    }
    
    .main-nav header{
        width: 100%;
        padding: .5em 0;
    }
    .main-nav:hover .nav-link-text{
        visibility: visible;
        display: inline;
    }
    .main-nav:hover{
        width: 200px;
    }
    .main-nav:hover .nav-link{
        grid-template-columns: 1fr 1fr 3fr;
    }
    .main-nav:hover .scroll-down-icon{
        left: calc(50% - 2em)
        
    }
    .section h2+p{
        background-color: var(--bg-primary);
        border-radius: 20px;
    }
    .footer{
        padding-left: calc(120px + 1em)
    }
    .copy{
        margin-bottom: 0;
    }
    
}

@keyframes changePosition {
    0% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(-5px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
@keyframes heartBeat{
    0%{
        font-size: 1.5rem;
    }
    20%{
        font-size: 2rem;
    }
    40%{
        font-size: 1.5rem;
    }
    60%{
        font-size: 2.3rem;
    }
    70%{
        font-size: 1.5rem;
    }
    100%{
        font-size: 1.5rem;
    }
}